.vscode/
data/
models/
backup/
 __pycache__/
 *.pyc
 *.log

src/spatiotemporal_builder/.github

.DS_Store
src/.DS_Store

src/__pycache__/globals.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-38.pyc
src/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/near_stations.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/goes16_utils.cpython-310.pyc
nohup.out
src/__pycache__/
src/surface_stations/__pycache__/
*.out
*.gif
*.png
*.nc
*.parquet
*.log
src/spatiotemporal_builder/__pycache__/
src/spatiotemporal_builder/features/
anim/dF_dt_2024_01_13/animation.mp4
notebooks/GPM/imerg_animation_2024_01_01.mp4
notebooks/GPM/imerg_rio_animation.mp4
notebooks/GPM/imerg_rio_animation_2024_01_01.mp4
anim/PN_GLM/animation.mp4
notebooks/RJ-30m-DEM.tif
*.tgz
src/config/__pycache__/__init__.cpython-310.pyc
src/config/__pycache__/globals.cpython-310.pyc
src/goes16/__pycache__/__init__.cpython-310.pyc
src/goes16/__pycache__/features.cpython-310.pyc
src/goes16/__pycache__/utils.cpython-310.pyc
src/goes16/__pycache__/goes16_cmi_feature_extractor_extended.cpython-311.pyc
src/goes16/__pycache__/goes16_cmi_feature_extractor.cpython-311.pyc
src/goes16/features/__pycache__/__init__.cpython-310.pyc
src/goes16/features/__pycache__/fa.cpython-310.pyc
src/goes16/features/__pycache__/gtn.cpython-310.pyc
src/goes16/features/__pycache__/li_proxy.cpython-310.pyc
src/goes16/features/__pycache__/pn_std.cpython-310.pyc
src/goes16/features/__pycache__/pn.cpython-310.pyc
src/goes16/features/__pycache__/toct.cpython-310.pyc
src/goes16/features/__pycache__/wv_grad.cpython-310.pyc
src/utils/__pycache__/__init__.cpython-310.pyc
src/utils/__pycache__/util.cpython-310.pyc
